<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>URL Shortener</title>
</head>

<body>
    <div>
        <form action="/" method="post" class="form">
            <label for="url">
                <input id="url" name="url" type="text" class="text" value="<%= postedUrl %> ">
            </label>
            <p class="redirectUrl">
                <a href="<%= url %> ">
                    <%- url %>
                </a>
            </p>
            <input type="submit" class="button">
        </form>
    </div>

    <div>
        <p class="credit">By Vineel Sai, See Source at
            <a href="https://github.com/vineelsai26/URL-Shortener">GitHub</a>
        </p>
    </div>
</body>

</html>
