<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon.png">
    <title>Shortify</title>
</head>

<body>
    <div id="navbar" class="navbar">
        <a href="/" id="logo">Shortify</a>
        <div class="navbarRight">
            <a href="/">Home</a>
            <a href="https://github.com/vineelsai26" target="_blank">GitHub</a>
        </div>
    </div>
    <div style="padding-top: 30vh;">
        <form action="/" method="post" class="form">
            <label for="url">
                <input id="url" name="url" type="text" class="text" value="<%= postedUrl %>" required>
            </label>
            <p class="errorMsg">
                <%- error %>
            </p>
            <p class="redirectUrl">
                <a href="<%= url %>" target="_blank" class="removeUnderline">
                    <%- url %>
                </a>
            </p>
            <input type="submit" class="button">
        </form>
    </div>

    <div>
        <p class="credit">By Vineel Sai, See Source at
            <a href="https://github.com/vineelsai26/Shortify" target="_blank" class="removeUnderline">GitHub</a>
        </p>
    </div>
</body>

</html>
